<form method="post" action="{{ path('agence_delete', {'id': agence.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer cette agence?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
