{% extends 'base.html.twig' %}

{% block title %}Modifier Contrat{% endblock %}

{% block body %}
    <h1>Modifier Contrat</h1>

    {{ include('contrat/_form.html.twig', {'button_label': 'Modifier'}) }}

    
{% endblock %}
