{% extends 'base.html.twig' %}

{% block title %}Nouveau Contrat{% endblock %}

{% block body %}
    <h1>Créer un Nouveau Contrat</h1>

    {{ include('contrat/_form.html.twig') }}

    <a href="{{ path('contrat_index') }}">retour</a>
{% endblock %}
